<section class="container mt-3">
  <div class="row">
    <div class="col-12">
      <%= form_with(model: @category, url: categories_path, method: :post, local: true, class: "form") do |form| %>
        <% if @category.errors.any? %>
          <div style="color: red">
            <ul>
              <% @category.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= form.text_field :name, placeholder: 'Name', class: 'w-100 custom-field-height form-control' %>
          <% if form.object.errors.has_key?(:name) %>
            <div class="text-danger"><%= form.object.errors[:name].first %></div>
          <% end %>
        </div>

        <div class="field mt-2">
          <%= form.label :icon, class: 'h5' %><br>
          <%= form.file_field :icon, class: 'w-100 custom-field-height form-control' %>
          <% if form.object.errors.has_key?(:icon) %>
            <div class="text-danger"><%= form.object.errors[:icon].first %></div>
          <% end %>
        </div>

        <div class="action d-flex justify-content-center mt-4">
          <%= form.submit "Create Category", class: 'btn btn-info text-white' %>
        </div>
      <% end %>
    </div>
  </div>
</section>
